<div class="btn-group">
    <button type="button" class="btn btn-sm bg-transparent dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-globe-europe"></i>
</button>
    <div class="dropdown-menu dropdown-menu-lg-right">
        <div class="text-center">
            <button (click)="storeLanguague('en')" class="btn btn-lg mr-1 ml-1">EN</button>
            <button (click)="storeLanguague('es')" class="btn btn-lg mr-1 ml-1">ES</button>
        </div>
    </div>
</div>