<form (ngSubmit)="onSubmit(f.value)" #f="ngForm" class="text-left p-2" id="loginForm">
    <div class="form-group">
        <label for="exampleInputName" class="text-info text-monospace">{{'authFirebase.name' | translate}}</label>
        <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" required ngModel name="name">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1" class="text-info text-monospace">{{'authFirebase.email' | translate}}</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required ngModel name="email">
        <small id="emailHelp" class="form-text text-muted">{{'authFirebase.promiseNotShareYourEmail' | translate}}</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" class="text-info text-monospace">{{'authFirebase.password' | translate}}</label>
        <input type="password" class="form-control" id="exampleInputPassword1" required ngModel name="password">
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid" [ngClass]="{'btn-danger': f.invalid}">{{'authFirebase.submit' | translate}}</button>
    </div>
</form>


<!--
<div class="box mb-2" id="loginCloud">
    <div class="shape1 shape-bg"></div>
    <div class="shape2 shape-bg"></div>
    <div class="shape3 shape-bg"></div>
    <div class="shape4 shape-bg"></div>
    <div class="shape5 shape-bg"></div>
    <div class="shape6 shape-bg"></div>
    <div class="shape7 shape-bg"></div>
    <div class="float">
        <form class="form" (ngSubmit)="onSubmit(f2.value)" #f2="ngForm">
            <div class="form-group">
                <label for="exampleInputName">{{'authFirebase.name' | translate}}</label>
                <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" required ngModel name="name">
            </div>
            <div class="form-group">
                <label for="username">Username</label><br>
                <input type="text" name="username" id="username" class="form-control" required ngModel name="name">
            </div>
            <div class="form-group">
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password" class="form-control" required ngModel name="password">
            </div>

            <div class="">
                <button type="submit" class="btn btn-primary" [disabled]="f2.invalid" [ngClass]="{'btn-danger': f2.invalid}">{{'authFirebase.submit' | translate}}</button>
            </div>

        </form>
    </div>
</div>
-->