<div class="container-fluid">

    <div class="row mt-4">
        <div class="col-sm-12 col-md-6">
            <form class="form">
                <h4>Choose Sidebar: </h4>
                <div class="inputGroup">
                    <input id="sidebarReduced1" name="sidebars" type="radio" (click)="changeSidebar('sidebarReduced1')" />
                    <label for="sidebarReduced1">Reduced Sidebar</label>
                </div>
                <div class="inputGroup">
                    <input id="sidebarHide1" name="sidebars" type="radio" (click)="changeSidebar('sidebarHide1')" />
                    <label for="sidebarHide1">Simple Sidebar</label>
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-6">
            <form class="form">
                <h4>Choose Navbar: </h4>
                <div class="inputGroup">
                    <input id="navbarSimple1" name="navbars" type="radio" (click)="changeNavbar('navbarSimple1')" />
                    <label for="navbarSimple1">Simple Navbar</label>
                </div>
                <div class="inputGroup">
                    <input id="navbarGradient1" name="navbars" type="radio" (click)="changeNavbar('navbarGradient1')" />
                    <label for="navbarGradient1">Gradient Navbar</label>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <app-sidebar-visible-button></app-sidebar-visible-button>
            <app-change-languague></app-change-languague>
            <app-change-theme></app-change-theme>
            <hr class="my-4">
            <button class="btn btn-success" s="btn btn-success" (click)="changeSidebar('sidebarSimple1')">
                Sidebar Simple 1
              </button>
            <button class="btn btn-success" (click)="changeSidebar('sidebarReduced1')">
                  Sidebar Reducido
                </button>
            <button class="btn btn-success" (click)="changeSidebar('sidebarHide1')">
                        Sidebar Oculto
                      </button>
            <button class="btn btn-success" (click)="changeSidebar('sidebarHide2')">
                            Sidebar Oculto 2
                          </button>
            <button class="btn btn-success" (click)="changeNavbar('navbarSimple1')">
                    Navbar Simple 1
                  </button>
            <button class="btn btn-success" (click)="changeNavbar('navbarGradient1')">
                      Navbar Gradient
                    </button>
        </div>
    </div>

</div>