<form class="text-left" (ngSubmit)="onSubmit()" #f="ngForm" id="loginForm">
    <div class="form-group" class="text-dark">
        <p class="mt-4"><span class="font-weight-bold">Personal IA</span> {{'authFirebase.accessWithoutRegistrationText1' | translate}}
            <p class="mt-2 mb-4"> {{'authFirebase.accessWithoutRegistrationText2' | translate}}</p>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary">{{'authFirebase.enter' | translate}}</button>
    </div>
</form>



<div class="box mb-2" id="loginCloud">
    <div class="shape1 shape-bg"></div>
    <div class="shape2 shape-bg"></div>
    <div class="shape3 shape-bg"></div>
    <div class="shape4 shape-bg"></div>
    <div class="shape5 shape-bg"></div>
    <div class="shape6 shape-bg"></div>
    <div class="shape7 shape-bg"></div>
    <div class="float">
        <form class="form" (ngSubmit)="onSubmit()" #f2="ngForm">
            <div class="form-group" class="text-dark">
                <label class="text-info">{{'authFirebase.accessWithoutRegistrationNubeText1' | translate}}</label><code> REDUX</code><br>
                <label class="text-muted">{{'authFirebase.accessWithoutRegistrationNubeText2' | translate}}</label><br>
                <label class="text-muted pb-2"><blockquote>{{'authFirebase.accessWithoutRegistrationNubeText3' | translate}}</blockquote></label><br>
            </div>


            <div class="form-group btn-agile">
                <button type="submit" class="btn btn-primary">{{'authFirebase.enter' | translate}}</button>
            </div>

        </form>
    </div>
</div>